.loginPageWrapper {
  height: 100vh;
  width: 100vw;
  background-color:rgb(232, 247, 247);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
  width: 500px;
  height: 300px;

  background-color: white;
  border-radius: 20px;

  padding: 20px;

  // display: flex;
  // flex-direction: column;
  // gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
    &Item {
      &Label {
        margin-bottom: 10px;
      }
  }
}

.leftBox {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;

  &Welcome {
    font-size: 38px;
  }
}

.rightBox {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mode {
  display: flex;
  justify-content: center;
}