.input > input {
  width: 100%;
  border-radius: 10px;
  height: 45px;
  padding-left: 15px;
  border: 0.5px solid blue;

  &:focus-visible {
    outline: none;
  }

  &:hover, &:focus {
    border: 1px solid blue;
  }
}